apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: FRONTEND_IMAGE_PLACEHOLDER   # The image we built earlier
        imagePullPolicy: # Use the local Minikube image
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
  - port: 80         # Expose internally on port 80
    targetPort: 3000 # Forward to container port 3000
  type: LoadBalancer # Gives us an IP to access it from the host